[Unit]
Description=Captures analytics from i3
After=display-manager.service

[Service]
Type=simple
ExecStart=sh -c '~/.local/bin/i3-analytics subscribe'
Restart=always
RestartSec=10sec

[Install]
WantedBy=default.target

